.Host {
    margin-top: -4rem;
    margin-left: 7rem;
    padding: 20px;
}

.--host-search {
    color: #ff5900;
    /* font-size: 0; */
}

.--Host-amount {
    color: green;
}

.--Host-section {
    display: flex;
    justify-content: space-between;
    width: 69rem;
}

.--Host-section-list {
    display: flex;
    gap: 30px;
}

.--Host-trends {
    background-color: black;
    padding: 9px;
    color: white;
    cursor: pointer;
    border-radius: 7px;
}

.--Host-recent {
    background-color: #ff5900;
    cursor: pointer;
    padding: 9px;
    color: white;
    border-radius: 7px;
}

.--Host-main {
    margin-top: 3rem;
    display: grid;
    width: 50rem;
    gap: 4rem;
    grid-template-columns: 1fr 1fr 1fr;
}

.--Host-details {
    width: 18rem;
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 5px 3px rgba(0,0,0,0.75);
}

.--Host-details img {
    width: 18rem;
    height: 12rem;
    border-radius: 10px;
}

.--Host-check {
    display: flex;
    justify-content: space-between;
}

.--Host-rating {
    display: flex;
    justify-content: space-between;
}

/* Media Queries */
@media (max-width: 1200px) {
    .--Host-section {
        width: 100%;
        /* flex-direction: column; */
        align-items: center;
    }

    .--Host-main {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        gap: 3rem;
    }

    .--Host-details {
        width: 90%;
    }

    .--Host-details img {
        width: 100%;
        height: auto;
    }
}

@media (max-width: 768px) {
    .Host {
        margin-left: 0;
    }

    .--Host-main {
        width: 100%;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .--Host-details {
        width: 100%;
    }

    .--Host-section {
        width: 100%;
    }
}

@media (max-width: 480px) {
    .--Host-trends, .--Host-recent {
        padding: 5px;
        font-size: 0.8rem;
    }

    .--host-search {
        font-size: 1.5rem;
    }
    
    .Host {
        margin-top: 3rem;
    }

    .--Host-main {
        gap: 1rem;
    }

    .--Host-details {
        width: 90%;
    }

    .--Host-section-list {
        gap: 15px;
    }
}
