/* Base Styles */
.Waveface {
    margin-top: 3rem;
    overflow: hidden;
    padding: 10px;
}

.Waveface h2 {
    color: indigo;
}

.--Workwave-section {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.--Waveface-item {
    min-width: 100%; 
    transition: transform 0.5s ease-in-out;
}

.--Waveface-bg img {
    width: 100%;
    border-top-left-radius: 1.5rem;
    border-top-right-radius: 1.5rem;
    height: 14rem;
    object-fit: cover;
}

.--Waveface-bayz {
    margin-top: -7rem;
    position: relative;
}

.--Waveface-bayz img {
    width: 15rem;
    margin-left: 2rem;
}

.--Waveface-content h2 {
    margin-left: 2.5rem;
    margin-top: -0.6rem;
}

.--Waveface-content p {
    margin-left: 6rem;
}

/* Media Queries */

/* Extra Large Devices (1200px and down) */
@media (max-width: 1200px) {
    .Waveface {
        margin-top: 2rem;
        margin-left: 5rem;
    }

    .--Waveface-bg img {
        height: 12rem;
    }

    .--Waveface-bayz img {
        width: 13rem;
        margin-left: 1.5rem;
    }

    .--Waveface-content h2 {
        margin-left: 2rem;
    }

    .--Waveface-content p {
        margin-left: 5rem;
    }
}

/* Large Devices (992px and down) */
@media (max-width: 992px) {
    .Waveface {
        margin-top: 1.5rem;
        margin-left: 4rem;
    }
    

    .--Waveface-bg img {
        height: 10rem;
    }

    .--Waveface-bayz img {
        width: 12rem;
        margin-left: 1rem;
    }

    .--Waveface-content h2 {
        margin-left: 1.5rem;
    }

    .--Waveface-content p {
        margin-left: 4rem;
    }
}

/* Medium Devices (768px and down) */
@media (max-width: 768px) {
    .Waveface {
        margin-top: 1rem;
        margin-left: 2rem;
    }

    .--Waveface-bg img {
        height: 8rem;
    }

    .--Waveface-bayz img {
        width: 10rem;
        margin-left: 0.5rem;
    }

    .--Waveface-content h2 {
        margin-left: 1rem;
    }

    .--Waveface-content p {
        margin-left: 3rem;
    }
}

/* Small Devices (576px and down) */
@media (max-width: 576px) {
    .Waveface {
        margin-top: 0.5rem;
        margin-left: 1rem;
        margin-right: 1rem;
    }

    .--Waveface-bg img {
        height: 9.5rem;
    }

    .--Waveface-bayz img {
        /* width: 8rem; */
        margin-left: 0;
        margin-top: 2rem;
        margin-right: 1rem;
    }

    .--Waveface-content h2 {
        font-size: 15px;
        margin-right: 1.1rem;
        
    }

    .--Waveface-content p {
        margin-left: 17px;
        font-size: 14px;
        margin-top: -2px;
    }
}

/* Specific Screen Size Adjustments */

/* For screens larger than 350px */
@media screen and (min-width: 350px) {
    .rm {
        display: none;
    }

    .--Waveface-flex {
        display: flex;
        justify-content: space-around;
        margin-left: 1rem;
    }
}

/* For screens larger than 1030px */
@media screen and (min-width: 1030px) {
    .rm {
        display: block;
    }

    .--Waveface-flex {
        display: flex;
        gap: 4px;
        margin-right: 2.5rem;
    }
    
}


